<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Home</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>


<div class="d-flex justify-content-center">
  <td><img th:src="@{https://bdassignment1.blob.core.windows.net/test1/curly.jpg}"
           alt="" border="3" height="100" width="100" /></td>
</div>
<div class="d-flex justify-content-center">
  <p class="h1">Manideep Shanigaram - 4224</p>
</div>


<br>
<br>
<hr>
<br>
<br>


<!--Section to Add new people to List-->
<br/>
<div class="d-flex justify-content-center">
  <form th:action="@{/upload_quiz0}" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="file" />
    <input type="submit" value="Upload" />
  </form>
</div>

<div class = "row">
</div>
<br/>
<hr/>
<br/>

<div class="d-flex justify-content-center">

  <br/>

  <table class="table table-hover">
    <tr>
      <th>Image</th>
      <th>Num</th>
      <th>Name</th>
      <th>Year</th>
      <th>Picture</th>
      <th>comments</th>
    </tr>
    <tr th:each="person : ${persons}">

      <td><img th:src="${person.imageUrl}"
               alt="" border="3" height="100" width="100" /></td>
      <td th:text="${person.num}"></td>
      <td th:text="${person.name}"></td>
      <td th:text="${person.year}"></td>
      <td th:text="${person.picture}"></td>
      <td th:text="${person.comments}"></td>
    </tr>
  </table>
</div>

<br/>
<hr/>
<br/>


<div class="d-flex justify-content-center">
  <p>Number in a range</p>
  <form class="form-group" th:action="@{/numRange}" th:object="${person}" method="get">

    <input type="number" th:field="*{num}" placeholder="100"/>
    <input type="number" th:field="*{year}" placeholder="10000"/>
    <input type="submit" value="Search"/>
  </form>
</div>



<div class="d-flex justify-content-center">

  <br/>

  <table class="table table-hover">
    <tr>
      <th>Image</th>
      <th>Num</th>
      <th>Name</th>
      <th>Year</th>
      <th>Picture</th>
      <th>comments</th>
    </tr>
    <tr th:each="person2 : ${queryResponse1}">

      <td><img th:src="${person2.imageUrl}"
               alt="" border="3" height="100" width="100" /></td>
      <td th:text="${person2.num}"></td>
      <td th:text="${person2.name}"></td>
      <td th:text="${person2.year}"></td>
      <td th:text="${person2.picture}"></td>
      <td th:text="${person2.comments}"></td>
    </tr>
  </table>
</div>


<br/>
<hr/>
<br/>

<div class="d-flex justify-content-center">
  <p>Search BY name</p>
  <form class="form-group" th:action="@{/nameSearch}" th:object="${person}" method="get">

    <input type="text" th:field="*{name}" placeholder="John"/>
    <input type="submit" value="Search"/>
  </form>
</div>
<div class="d-flex justify-content-center">

  <br/>

  <table class="table table-hover">
    <tr>
      <th>Image</th>
      <th>Num</th>
      <th>Name</th>
      <th>Year</th>
      <th>Picture</th>
      <th>comments</th>
      <th>Action</th>
    </tr>
    <tr th:each="person : ${queryResponse2}">

      <td><img th:src="${person.imageUrl}"
               alt="" border="3" height="100" width="100" /></td>
      <td th:text="${person.num}"></td>
      <td th:text="${person.name}"></td>
      <td th:text="${person.year}"></td>
      <td th:text="${person.picture}"></td>
      <td th:text="${person.comments}"></td>
      <td>
        <a th:href="@{update_quiz0/{id}(id=${person.pid})}"
           class="btn btn-primary">Update</a>
      </td>
    </tr>
  </table>
</div>


</body>
</html>
